.mat-toolbar.mat-primary { background: #78866B; color: white; }
.logo{
    width: 100px;
    height:100%;
    
}
 .login{
     cursor: pointer;
     color: black;
 }.login:hover{
   color:rgb(104, 104, 104)
 }
